.tituloDePagina {
    text-align: center;
    margin: 50px auto 50px auto;
    font-family: $fuenteTitulos;
    font-size: 40px
}
.tituloPresentacion {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $fuenteTitulos;
    
}
.textoDePagina {
    text-align: center;
    margin: auto;
    padding: 15px;
    margin: 25px;
    font-size: 14px;
}
.imagenCaro{
    width: 400px;
    height: auto;
    margin-top: 80px;
}
#presentacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 50px;
}
//servicios
.tituloServicio{
    font-family: $fuenteTitulos;
    margin: 40px;
    text-align: center;
    font-size: 20px;
}
.servicios {
    text-align: center;
    margin-top: 10px;
    padding: 50px;
}

#servicios-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
    text-align: center;
    padding: 20px;
}
.imgServicios {
    width: 50%;
    height: auto;
    box-shadow: 0 5px 5px 0;
    border-radius: 15px;
    cursor: pointer;
    }
.imgServicios:hover {
        transform: scale(1.2);
    }

//info de color
.imgInfo {
    text-align: center;
    display: block;
    width: 50%;
    height: auto;
    justify-items: center;
    margin: auto;
    padding: 15px;
    filter: grayscale(1);
}
.imgInfo:hover {
    filter: saturate(1);
}
.tituloInfo {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}
.info-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
    text-align: center;
    padding: 20px;
}
//contacto
.consulta{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
    font-family: 'Dancing Script', cursive;
    font-size: 40px
}
#formulario {
    text-align: center;
}
