
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@import 'variables';
@import 'header';
@import 'body';
@import 'principal';
@import 'footer';
@import 'pages';
@import 'media';


